.container
  h3 zip
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading zip(按序组合) 说明
    .panel-body
      p 签名: zip(observables: *): Observable (官网文档签名,不太确切)
      p 签名: zip(observables: *, project: function): Observable
      p 订阅所有 observables，然后等待每个发出一个值。一旦发生这种情况，将发出具有相应索引的所有值。这会持续进行，直到至少一个 observable 完成
      p 将多个 Observable 组合以创建一个 Observable，该 Observable 的值是由所有输入 Observables 的值按顺序计算而来的
      p 如果最后一个参数是函数, 这个函数被用来计算最终发出的值.否则, 返回一个顺序包含所有输入值的数组.
      p 与 interval 或 timer 进行组合, zip 可以用来根据另一个 observable 进行定时输出
      p 任意一个 observable 完成, 就会结束
      p project:可选的投射函数，将所有 Observable 返回的值投射为要发出的新的值。
      img.img-responsive.center-block(src="../assets/images/zip.png")
      pre.pre-scrollable.
        弹珠图解析:
        - 操作符上方两条线,表示两个 源 observable: 数字$ 字母$
        - 每一个 源 observable 发出值时, 均要查询其它 源 observable
          有没有相同索引值, 有则输出数组, 没有则不处理
        - 当 数字$ 发出值 1 时, 数字$ 的当前索引为 0,
          查询其它 源 observable 索引为 0 的值,
          字母$ 索引0 还没有值, 不输出
        - 当 字母$ 发出值 A 时, 字母$ 的当前索引为 0,
          查询 数字$ 索引0 的值 为 1,
          将两个  源 observable 同位置的值组成数组 [1,'A'] 输出
        - 当 数字$ 发出值 2 时, 数字$ 的当前索引为 1,
          字母$ 索引1 还没有值, 不输出
        - 当 字母$ 发出值 B 时, 字母$ 的当前索引为 1,
          查询 数字$ 索引1 的值 为 2,
          将两个 源 observable 同位置的值组成数组 [2,'B'] 输出
        - 以此类推
        - 字母$ 最终只发出4个值就完成, 因此最终只有4个数组输出
        - 只要有任意一个源 observable 完成,就会结束
  .panel.panel-info
    .panel-heading 示例1: 当一个 observable 完成时，便不会再发出更多的值
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例2: 定时输出字符
    .panel-body
      pre.pre-scrollable([innerHtml]="demo2Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo2();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例3: 从不同的源头结合年龄和名称
    .panel-body
      pre.pre-scrollable([innerHtml]="demo3Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo3();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例0: 弹珠图示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo0Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo0();$event.stopPropagation()") 运行
