
<div class="container">
  <h3>skip</h3>
  <div class="panel panel-success">
    <div class="panel-heading">对比分析
      <div class="list-group"></div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">skip(按数量跳过) 说明</div>
    <div class="panel-body">
      <p>签名: skip(the: Number): Observable</p>
      <p>跳过N个(由参数提供)发出值</p>
      <p>返回一个 Observable， 该 Observable 跳过源 Observable 发出的前N个值(N = count)</p><img src="../assets/images/skip.png" class="img-responsive center-block"/>
      <pre class="pre-scrollable">弹珠图解析:
- 根据参数跳过前面3项不输出值</pre>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例1: 弹珠图示例</div>
    <div class="panel-body">
      <pre [innerHtml]="demo1Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo1();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
</div>