.container
  h3 fromPromise
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading fromPromise(转化Promise) 说明
    .panel-body
      p 签名: static fromPromise(promise: PromiseLike, scheduler: Scheduler): Observable
      p 将 Promise 转化为 Observable
      p 返回一个仅仅发出 Promise resolve 过的值然后完成的 Observable
      p 把 ES2015 的 Promise 或者兼容 Promises/A+ 规范的 Promise 转化为 Observable。 如果 Promise resolves 一个值, 输出 Observable 发出这个值然后完成。 如果 Promise 被 rejected, 输出 Observable 会发出相应的 错误
      p 注意: 该操作符已推荐用 from 取代
  .panel.panel-info
    .panel-heading 示例1: promise 转换而来的 observable
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
