nav.navbar.navbar-fixed-top.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-ex1-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="home") Rx操作符
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="home") 操作符分类概览
        li
          a(href="operators") 操作符排序列表