.container
  h3 throw
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading throw(抛出错误) 说明
    .panel-body
      p 签名: static throw(error: any, scheduler: Scheduler): Observable
      p 创建一个不发送数据给观察者并且立马发出错误通知的 Observable
      p 仅仅发出 error 通知，其他什么也不做
      p 这个静态操作符对于创建简单的只发出错误通知的 Observable 十分有用。 可以被用来和其他 Observables 组合, 比如在 mergeMap 中使用。
      img.img-responsive.center-block(src="../assets/images/throw.png")
      pre.pre-scrollable.
        弹珠图解析:
        - 直接发出 error 通知
  .panel.panel-info
    .panel-heading 示例1: 弹珠图示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
