
<div class="container">
  <h3>let</h3>
  <div class="panel panel-success">
    <div class="panel-heading">对比分析
      <div class="list-group"></div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">let(获得源) 说明</div>
    <div class="panel-body">
      <p>签名: let(function): Observable</p>
      <p>获得源Observable,返回 源Observable 或其镜象</p>
      <p><span class="label label-success">注意</span>&nbsp;该操作符官网暂时没有说明</p>
      <p><span class="label label-success">注意</span>&nbsp;let 主要用于要对 源Observable 附加操作符, 而这些操作符来自其它函数,见示例2</p>
    </div>
    <div class="panel-heading">示例1: 使用 let 应用于多个操作符</div>
    <div class="panel-body">
      <pre [innerHtml]="demo1Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo1();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例2: 通过函数应用于操作符
      <pre [innerHtml]="demo2Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo2();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
</div>