
<div class="container">
  <h3>create</h3>
  <div class="panel panel-success">
    <div class="panel-heading">对比分析
      <div class="list-group"></div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">create(创建) 说明</div>
    <div class="panel-body">
      <p>签名: static create(onSubscription: function(observer: Observer): TeardownLogic): Observable</p>
      <p>创建一个新的 Observable ，当观察者( Observer )订阅该 Observable 时，它会执行指定的函数</p>
      <p>创建自定义的 Observable ，它可以做任何你想做的事情</p>
      <p>create 将 onSubscription 函数转化为一个实际的 Observable 。每当有人订阅该 Observable 的 时候，onSubscription函数会接收 Observer 实例作为唯一参数执行。onSubscription 应该 调用观察者对象的 next, error 和 complete 方法。</p>
      <p>带值调用 next 会将该值发出给观察者。调用 complete 意味着该 Observable 结束了发出并且不会做任何事情了。 调用 error 意味着出现了错误，传给 error 的参数应该提供详细的错误信息</p>
      <p>一个格式良好的 Observable 可以通过 next 方法发出任意多个值，但是 complete 和 error 方法只能被调用 一次，并且调用之后不会再调用任何方法。 如果你试图在 Observable 已经完成或者发生错误之后调用next、 complete 或 error 方法，这些调用将会被忽略，以保护所谓的 Observable 合同。注意，你并不需要一定要在某个时刻 调用 complete 方法，创建一个不会被终止的 Observable 也是完全可以的，一切取决于你的需求。</p>
      <p>onSubscription 可以选择性的返回一个函数或者一个拥有 unsubscribe 方法的对象。 当要取消对 Observable 的订阅时，函数或者方法将会被调用，清理所有的资源。比如说，如果你在自己的 Observable 里面使用了 setTimeout， 当有人要取消订阅的时候， 你可以清理定时器， 这样就可以减少不必要的触发，并且浏览 器(或者其他宿主环境)也不用将计算能力浪费在这种无人监听的定时事件上。</p><img src="../assets/images/create.png" class="img-responsive center-block"/>
      <pre class="pre-scrollable">弹珠图解析:
- 调用 Observable 的 next 方法, 输出 值 1

附加说明:

以下三个基本概念在代码中如何对应,请看示例1 和 示例2 的变量名

- Observable (可观察对象): 表示一个概念，这个概念是一个可调用的未来值或事件的集合。
- Observer (观察者): 一个回调函数的集合，它知道如何去监听由 Observable 提供的值。
- Subscription (订阅): 表示 Observable 的执行，主要用于取消 Observable 的执行。

对比 示例1 和 示例2 的写法, 理解三个概念是如何运作的</pre>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例1: 基本写法</div>
    <div class="panel-body">
      <pre [innerHtml]="demo1Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo1();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例2: 按概念拆开写法</div>
    <div class="panel-body">
      <pre [innerHtml]="demo2Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo2();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
</div>