.container
  h3 fromEvent
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading fromEvent(转化事件) 说明
    .panel-body
      p 签名: static fromEvent(target: EventTargetLike, eventName: string, options: EventListenerOptions, selector: SelectorMethodSignature): Observable
      img.img-responsive.center-block(src="../assets/images/fromEvent.png")
      pre.pre-scrollable.
        弹珠图解析:
        - 每次点击后, 输出事件对象 event
        - 注意 fromEvent 是不会结束的, 不会发出已完成信号
  .panel.panel-info
    .panel-heading 示例1: 弹珠图示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      .alert.alert-success(#demo1ref="") 点我

