.container
  h3 first
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading first(查找第一个) 说明
    .panel-body
      p.
        签名: first(predicate: function(value: T, index: number, source: Observable): boolean, resultSelector: function(value: T, index: number): R, defaultValue: R): Observable
      p 发出第一个值或第一个通过给定表达式的值
      p 只发出第一个值。或者只发出第一个通过测试的值
      p 与 first 对应的操作符是 last
      p 如果不使用参数调用，first 会发出源 Observable 中的第一个值，然后完成。如果使用 predicate 函数来调用，first 会发出源 Observable 第一个满足条件的值。它还可以 接收 resultSelector 函数根据输入值生成输出值，假如在源 Observable 完成前无法发 出一个有效值的话，那么会发出 defaultValue 。如果没有提供 defaultValue 并且也 找不到匹配的元素，则抛出错误。
      img.img-responsive.center-block(src="../assets/images/first.png")
      pre.pre-scrollable.
        弹珠图解析:
        略
  .panel.panel-info
    .panel-heading 示例1: 弹珠图模拟示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例2: 第一个通过 predicate 函数的值
    .panel-body
      pre.pre-scrollable([innerHtml]="demo2Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo2();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例3: 使用可选的 resultSelector 函数
    .panel-body
      pre.pre-scrollable([innerHtml]="demo3Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo3();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例4: 利用默认值
    .panel-body
      pre.pre-scrollable([innerHtml]="demo4Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo4();$event.stopPropagation()") 运行
