.container
  h3 concat
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading concat(串行拼接) 说明
    .panel-body
      p 签名: concat(observables: ...*): Observable
      p 按照顺序，前一个 observable 完成了再订阅下一个 observable 并发出值。
      p 创建一个输出 Observable，它在当前 Observable 之后顺序地发出每个给定的输入 Observable 中的所有值。
      p 此操作符可以既有静态方法，又有实例方法！
      p 如果产生值的顺序不是首要考虑的，那么试试用 merge 来代替！
      img.img-responsive.center-block(src="../assets/images/concat.png")
      pre.pre-scrollable.
        弹珠图解析:
          - 操作符上方的两条线, 表示 concat 接收的两个 Observable, 
            这两个 Observable 是通过参数传递过来的:
              Observable.concat(ab$, xy$)
              或
              ab$.concat(xy$)
          - 只有前一个 Observable 结束才会进行下一个 Observable,
            即要等 ab$ 已发射完所有值, 才订阅 xy$
          - 当 ab$ 发出 `a` 时, 向下游操作符发射值 `a`
            当 ab$ 发出 `b` 时, 向下游操作符发射值 `b`
            此时 ab$ 已完成, 再处理 xy$
          - 依次向下游操作符发射值 `x` `y`
          - 也就是说按顺序的、串行的将所有输入 Observable 的值,
            合并给输出 Observable
  .panel.panel-info
    .panel-heading 示例1: concat 2个基础的 observable
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行实例方法
        | &nbsp;
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1static();$event.stopPropagation()") 运行静态方法      
  .panel.panel-info
    .panel-heading 示例2: 使用延迟的 souce observable 进行 concat
    .panel-body
      pre.pre-scrollable([innerHtml]="demo2Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo2();$event.stopPropagation()") 运行
  .panel.panel-info
    .panel-heading 示例3: 使用不会结束的 source observable 进行 concat
    .panel-body
      pre.pre-scrollable([innerHtml]="demo3Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo3();$event.stopPropagation()") 运行
        | &nbsp;
        button.btn.btn-default(type="button",
          [disabled]="!isRuning",
          (click)="runDemo3Stop();$event.stopPropagation()") 停止
  .panel.panel-info
    .panel-heading 示例0: 弹珠图模拟示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo0Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo0();$event.stopPropagation()") 运行