
<div class="container">
  <h3>concat</h3>
  <div class="panel panel-success">
    <div class="panel-heading">对比分析
      <div class="list-group"></div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">concat(串行拼接) 说明</div>
    <div class="panel-body">
      <p>签名: concat(observables: ...*): Observable</p>
      <p>按照顺序，前一个 observable 完成了再订阅下一个 observable 并发出值。</p>
      <p>创建一个输出 Observable，它在当前 Observable 之后顺序地发出每个给定的输入 Observable 中的所有值。</p>
      <p>此操作符可以既有静态方法，又有实例方法！</p>
      <p>如果产生值的顺序不是首要考虑的，那么试试用 merge 来代替！</p><img src="../assets/images/concat.png" class="img-responsive center-block"/>
      <pre class="pre-scrollable">弹珠图解析:
  - 操作符上方的两条线, 表示 concat 接收的两个 Observable,
    这两个 Observable 是通过参数传递过来的:
      Observable.concat(ab$, xy$)
      或
      ab$.concat(xy$)
  - 只有前一个 Observable 结束才会进行下一个 Observable,
    即要等 ab$ 已发射完所有值, 才订阅 xy$
  - 当 ab$ 发出 `a` 时, 向下游操作符发射值 `a`
    当 ab$ 发出 `b` 时, 向下游操作符发射值 `b`
    此时 ab$ 已完成, 再处理 xy$
  - 依次向下游操作符发射值 `x` `y`
  - 也就是说按顺序的、串行的将所有输入 Observable 的值,
    合并给输出 Observable</pre>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例1: concat 2个基础的 observable</div>
    <div class="panel-body">
      <pre [innerHtml]="demo1Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo1();$event.stopPropagation()" class="btn btn-primary">运行实例方法</button>&nbsp;
        <button type="button" [disabled]="isRuning" (click)="runDemo1static();$event.stopPropagation()" class="btn btn-primary">运行静态方法</button>
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例2: 使用延迟的 souce observable 进行 concat</div>
    <div class="panel-body">
      <pre [innerHtml]="demo2Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo2();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例3: 使用不会结束的 source observable 进行 concat</div>
    <div class="panel-body">
      <pre [innerHtml]="demo3Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo3();$event.stopPropagation()" class="btn btn-primary">运行</button>&nbsp;
        <button type="button" [disabled]="!isRuning" (click)="runDemo3Stop();$event.stopPropagation()" class="btn btn-default">停止</button>
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例0: 弹珠图模拟示例</div>
    <div class="panel-body">
      <pre [innerHtml]="demo0Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo0();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
</div>