
<div class="container">
  <h3>publish</h3>
  <div class="panel panel-success">
    <div class="panel-heading">对比分析
      <div class="list-group"></div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">publish(发布) 说明</div>
    <div class="panel-body">
      <p>签名: publish(): ConnectableObservable</p>
      <p>返回 ConnectableObservable，它是 Observable 的变种，它会一直等待，直到 connnect 方法被调用才会开始把值发送给那些订阅它的观察者</p>
      <p>共享源 observable 并通过调用 connect 方法使其变成热的</p><img src="../assets/images/publish.png" class="img-responsive center-block"/>
      <pre class="pre-scrollable">弹珠图解析:
- 操作符下方的线是蓝色的, 表示输出的 observable 是热的
- 热 observable 的意思是主动发送给所有订阅者</pre>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">示例1: 弹珠图示例</div>
    <div class="panel-body">
      <pre [innerHtml]="demo1Info" class="pre-scrollable"></pre>
      <p>
        <button type="button" [disabled]="isRuning" (click)="runDemo1zip();$event.stopPropagation()" class="btn btn-primary">运行</button>
      </p>
    </div>
  </div>
</div>