.container
  h3 do
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading do(执行) 说明
    .panel-body
      p 签名: do(nextOrObserver: Observer | function, error: function, complete: function): Observable
      p 为源 Observable 上的每次发送执行副作用，但返回的 Observable 与源 Observable 是相同的
      p 拦截源 Observable 上的每次发送并且运行一个函数，但返回的输出 Observable 与 源 Observable 是相同的，只要不发生错误即可
      p 此操作符适用于调试 Observables 以查看值是否正确，或者执行一些其他的副作用操作
      p 此操作符不同于 Observable 的 subscribe。如果 do 返回的 Observable 没有被订阅， 那么观察者指定的副作用永远不会执行。因此 do 只是侦查已存在的执行，它不会像 subscribe 那样触发执行的发生
      img.img-responsive.center-block(src="../assets/images/do.png")
      pre.pre-scrollable.
        弹珠图解析:
        - 不会影响 源 Observables 的输出, 只是打印日志
  .panel.panel-info
    .panel-heading 示例1: 弹珠图示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
