.container
  h3 skipWhile
  .panel.panel-success
    .panel-heading 对比分析
      .list-group
  .panel.panel-info
    .panel-heading skipWhile(按条件跳过) 说明
    .panel-body
      p 签名: skipWhile(predicate: Function): Observable
      p 跳过源 observable 发出的值，直到提供的表达式结果为 false
      p 返回一个 Observable， 该 Observable 会跳过由源 Observable 发出的所有满足指定条件的数据项， 但是一旦出现了不满足条件的项，则发出在此之后的所有项
      img.img-responsive.center-block(src="../assets/images/skipWhile.png")
      pre.pre-scrollable.
        弹珠图解析:
        - 2,3 均满足条件,因此会跳过
        - 4 不满足条件,则从 4 开始不再跳过, 也不再检查
  .panel.panel-info
    .panel-heading 示例1: 弹珠图示例
    .panel-body
      pre.pre-scrollable([innerHtml]="demo1Info")
      p
        button.btn.btn-primary(type="button",
          [disabled]="isRuning",
          (click)="runDemo1();$event.stopPropagation()") 运行
